.blogsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Poppins", sans-serif;
}

.blogCard {
    display: flex;
    gap: 10px;
    padding: 16px 0;
    border-top: 1px solid var(--secondary90);
    align-items: center;
}

.blogTitle {
    color: var(--primary90);
    font-size: 18px;
}

.blogAuthor {
    color: var(--text50);
    font-size: 14px;
}
